.card {
    display: grid;
    grid-template: 1fr / 200px 1fr;

    border: 1px solid black;
    border-radius: 5px;

    max-width: 700px;
    min-height: 250px;

    &__image {
        object-fit: cover;
    }

    &__content {
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        gap: 15px;

        padding: 10px 20px;
    }

    &__title {
        font-size: 22px;
        font-weight: 600;
        text-align: center;
    }

    &__text {
        font-size: 16px;
    }
}