.main {
	display: flex;
	flex-direction: column;
	gap: 40px;

	&__banner,
	.banner {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		gap: 35px;

		background: linear-gradient(rgba(0, 0, 0, 0.2) 80%, rgba(255, 255, 255, 1) 100%), linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
			url("/img/background/animal-bg.jpg") no-repeat center center / cover;
		color: white;

		height: 100dvh;

		&__title {
			font-size: 64px;
			font-weight: 600;
		}

		&__text {
			font-size: 30px;
			font-weight: 500;
		}
	}
}